

.dialog a{
    text-decoration: none;
    font-size: 20px;
    color: rgba(48, 53, 1, 0.774);
    padding: 10px;
    font-style: oblique;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    
}
           

.dialog img{
    height: 50px;
    width: 50px;
    border-radius: 40px;
}