/* .formControl{

} */


.formControl.error textarea{
    border: solid red 1px;
}

.formControl.error span{
    color:  red ;
}
.formError{
    color: red;
}

.captcha{
    height: 100px;
    width: 200px;
}